---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/account/verify_credentials.json?skip_status=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="9ezY3Nqc5r5efWWtOCya8GRuS", oauth_nonce="519223acad663a57f95cdd9eb1a6f09a",
        oauth_signature="SRA7F%2FvBuGMfN%2FqTPztnrIox3bg%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1454990076", oauth_token="1471081286-fXscCtqauyxMFJbGiQxVbMAomNFoI6xqUssNAyc",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Tue, 09 Feb 2016 03:54:37 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - e54bcccaaf0ac3a601f7889a796c2f07
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '12'
      X-Rate-Limit-Reset:
      - '1454990410'
      X-Response-Time:
      - '22'
      X-Transaction:
      - b258d4b2a41e194c
      X-Twitter-Response-Tags:
      - BouncerCompliant
      - BouncerExempt
    body:
      encoding: ASCII-8BIT
      string: '{"id":1471081286,"id_str":"1471081286","name":"Eric Zell","screen_name":"hula_zell","location":"","description":"","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":4,"friends_count":3,"listed_count":0,"created_at":"Fri
        May 31 01:47:10 +0000 2013","favourites_count":0,"utc_offset":-18000,"time_zone":"Eastern
        Time (US & Canada)","geo_enabled":false,"verified":false,"statuses_count":1,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_3_normal.png","profile_image_url_https":"https:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_3_normal.png","profile_link_color":"0084B4","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":true,"following":false,"follow_request_sent":false,"notifications":false}'
  recorded_at: Tue, 09 Feb 2016 03:54:37 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1/friends/list.json?cursor=-1&user_id=1471081286
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="9ezY3Nqc5r5efWWtOCya8GRuS", oauth_nonce="339b9e58d7296f45cb7c40ad9165aa47",
        oauth_signature="Lvbzt11xU6%2B6BKEdRVHjeUBMVVI%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1454990077", oauth_token="1471081286-fXscCtqauyxMFJbGiQxVbMAomNFoI6xqUssNAyc",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Tue, 09 Feb 2016 03:54:37 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 0e76d07951fe6366a6e8ca9b2b02838c
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '12'
      X-Rate-Limit-Reset:
      - '1454990410'
      X-Response-Time:
      - '40'
      X-Transaction:
      - fafee1c15967cf49
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"users":[{"id":4852181048,"id_str":"4852181048","name":"Eric Zell","screen_name":"ez_codes","location":"","description":"","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":1,"friends_count":3,"listed_count":0,"created_at":"Wed
        Feb 03 03:35:28 +0000 2016","favourites_count":0,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":12,"lang":"en","status":{"created_at":"Mon
        Feb 08 05:07:01 +0000 2016","id":696560846344945664,"id_str":"696560846344945664","text":"hello
        world!","source":"\u003ca href=\"http:\/\/twitter.com\" rel=\"nofollow\"\u003eTwitter
        Web Client\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":0,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[]},"favorited":false,"retweeted":false,"lang":"en"},"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"F5F8FA","profile_background_image_url":null,"profile_background_image_url_https":null,"profile_background_tile":false,"profile_image_url":"http:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_1_normal.png","profile_image_url_https":"https:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_1_normal.png","profile_link_color":"2B7BB9","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":true,"following":true,"follow_request_sent":false,"notifications":false,"muting":false,"blocking":false,"blocked_by":false},{"id":22449367,"id_str":"22449367","name":"World
        Surf League","screen_name":"wsl","location":"Planet Earth","description":"This
        is the official Twitter account of the WSL. World''s best surfers, world''s
        best waves. | #EddieWouldGo Feb 10","url":"https:\/\/t.co\/BNYgJI3cx9","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/BNYgJI3cx9","expanded_url":"http:\/\/www.worldsurfleague.com","display_url":"worldsurfleague.com","indices":[0,23]}]},"description":{"urls":[]}},"protected":false,"followers_count":381733,"friends_count":701,"listed_count":2281,"created_at":"Mon
        Mar 02 04:13:57 +0000 2009","favourites_count":39302,"utc_offset":36000,"time_zone":"Brisbane","geo_enabled":true,"verified":true,"statuses_count":19275,"lang":"en","status":{"created_at":"Tue
        Feb 09 02:00:00 +0000 2016","id":696876166699814912,"id_str":"696876166699814912","text":"Just
        perfect. #OffSeason \ud83d\udcf7 | @MorganMaassen https:\/\/t.co\/6ZkuzXH3Lz","source":"\u003ca
        href=\"http:\/\/twitter.com\/download\/android\" rel=\"nofollow\"\u003eTwitter
        for Android\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":96,"favorite_count":246,"entities":{"hashtags":[{"text":"OffSeason","indices":[14,24]}],"symbols":[],"user_mentions":[{"screen_name":"MorganMaassen","name":"Morgan
        Maassen","id":71090571,"id_str":"71090571","indices":[29,43]}],"urls":[],"media":[{"id":696876160718798849,"id_str":"696876160718798849","indices":[44,67],"media_url":"http:\/\/pbs.twimg.com\/media\/CavNLQwVAAEetj4.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/CavNLQwVAAEetj4.jpg","url":"https:\/\/t.co\/6ZkuzXH3Lz","display_url":"pic.twitter.com\/6ZkuzXH3Lz","expanded_url":"http:\/\/twitter.com\/wsl\/status\/696876166699814912\/photo\/1","type":"photo","sizes":{"thumb":{"w":150,"h":150,"resize":"crop"},"large":{"w":1024,"h":613,"resize":"fit"},"medium":{"w":600,"h":359,"resize":"fit"},"small":{"w":340,"h":204,"resize":"fit"}}}]},"extended_entities":{"media":[{"id":696876160718798849,"id_str":"696876160718798849","indices":[44,67],"media_url":"http:\/\/pbs.twimg.com\/media\/CavNLQwVAAEetj4.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/CavNLQwVAAEetj4.jpg","url":"https:\/\/t.co\/6ZkuzXH3Lz","display_url":"pic.twitter.com\/6ZkuzXH3Lz","expanded_url":"http:\/\/twitter.com\/wsl\/status\/696876166699814912\/photo\/1","type":"photo","sizes":{"thumb":{"w":150,"h":150,"resize":"crop"},"large":{"w":1024,"h":613,"resize":"fit"},"medium":{"w":600,"h":359,"resize":"fit"},"small":{"w":340,"h":204,"resize":"fit"}}}]},"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"F1F1E5","profile_background_image_url":"http:\/\/pbs.twimg.com\/profile_background_images\/472162076584976384\/ka8QEg0b.jpeg","profile_background_image_url_https":"https:\/\/pbs.twimg.com\/profile_background_images\/472162076584976384\/ka8QEg0b.jpeg","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/628240697057906689\/K1pddZ32_normal.png","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/628240697057906689\/K1pddZ32_normal.png","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/22449367\/1454986350","profile_link_color":"0084B4","profile_sidebar_border_color":"FFFFFF","profile_sidebar_fill_color":"CCDDFF","profile_text_color":"333333","profile_use_background_image":false,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":true,"follow_request_sent":false,"notifications":false,"muting":false,"blocking":false,"blocked_by":false},{"id":29312953,"id_str":"29312953","name":"Kelly
        S[...]
