<h1>Welcome, <%= @user.email %>. This is your profile</h1>
<h3>Your Subscriptions:</h3>
<ul class="subscriptions">
  <% @user.subscriptions.each do |sub| %>
    <div class="row">
      <li class="subscription">
        <%= "#{sub.twitter_handle}: #{sub.phrase}" %>
      </li>
    </div>
  <% end %>
</ul>
<%= link_to "New Subscription", new_user_subscription_path(@user) %>
