<h1>Welcome, <%= @user.email %>. This is your profile</h1>
<ul class="menu">
  <li><input type="search" placeholder="Search"></li>
  <li><button type="button" class="button twitter-search">Search</button></li>
</ul>
