<div class="column small-12 medium-8 medium-centered medium-text-center">
  <p class="content">
    First to Know is a web app where users can subscribe to recieve text message
    alerts the minute a selected twitter user tweets a certain phrase. For
    example, perhaps you want to be the first to know when Papa John's is giving
    away free pizza. You can create a subscription to Papa John's twitter account
    for the phrase 'free pizza'. The minute Papa John's tweets anything containing
    the string 'free pizza', a text message will be sent to the user's provided
    phone number.
  </p>
</div>
