<footer>
  <a href="https://twitter.com/hula_zell">
    <%= image_tag("twitter2.png", class:"social-icon") %>
  </a>
  <a href="https://www.facebook.com/eric.zell.18">
    <%= image_tag("facebook4.png", class:"social-icon") %>
  </a>
  <a href="https://www.github.com/ericjzell">
    <%= image_tag("github12.png", class:"social-icon") %>
  </a>
  <p>&copy; 2016 Eric J. Zell, ericjzell@gmail.com</p>
</footer>
